<connectionStrings>
  <!--this is the original connectionstring for DefaultConnection tha came with the website
  
  <add name="DefaultConnection"
  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-6b2d7ec5-53b7-43c5-9572-c3224fc22f02;AttachDbFilename=|DataDirectory|\aspnet-Website-6b2d7ec5-53b7-43c5-9572-c3224fc22f02.mdf;Integrated Security=SSPI"
  providerName="System.Data.SqlClient"/>-->
  <!--create the connection string to your database-->
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
  <!-- setting up the connection string for the security table so that they are in
        the same database as the company data-->
  <add name="DefaultConnection"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
